backend/app/static/workflows/simple_test/workflow.json
{
  "name": "Simple Test Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/simple-test-{{WORKFLOW_ID}}",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-{{WEBHOOK_ID}}",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Hello from user {{USER_ID}}! Workflow is working!"
            },
            {
              "name": "timestamp",
              "value": "={{$now}}"
            },
            {
              "name": "workflow_id",
              "value": "{{WORKFLOW_ID}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data-{{WORKFLOW_ID}}",
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Workflow executed successfully",
          "data": "={{$json}}"
        }
      },
      "id": "response-{{WORKFLOW_ID}}",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "{{WORKFLOW_ID}}"
}