backend/app/static/workflows/telegram_notification/workflow.json
{
  "name": "Telegram Notification Sender",
  "nodes": [
    {
      "parameters": {},
      "id": "fb8bb41b-6bc3-44e3-82f6-eba5e6b67c53",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_notification": false
        }
      },
      "id": "2c8c05ab-4c14-4e1f-bd42-3e7b7f1d6e89",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Message sent successfully"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d9d16bc-5e25-4f2g-ae53-4f8c8g2e7f90",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "telegram_notification_workflow"
}