backend/app/static/workflows/gmail_to_drive/workflow.json
{
  "name": "Gmail → Drive Template",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "newEmail",
        "filters": {
          "subject": "Job Application"
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "gmail-trigger-node",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "{{CREDENTIAL_ID_GMAIL}}",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "resource": "file",
        "fileName": "={{$node[\"Gmail Trigger\"].json[\"subject\"]}}_{{new Date().toISOString().split('T')[0]}}.pdf",
        "binaryPropertyName": "data",
        "parents": {
          "resource": "list",
          "operation": "search"
        },
        "driveId": {
          "mode": "list",
          "value": "root"
        }
      },
      "id": "google-drive-upload-node",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [450, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{CREDENTIAL_ID_GOOGLE_DRIVE}}",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({\n  \"status\": \"success\",\n  \"message\": \"Email attachment uploaded to Google Drive\",\n  \"email_subject\": $node[\"Gmail Trigger\"].json[\"subject\"],\n  \"file_url\": $node[\"Google Drive Upload\"].json[\"webViewLink\"],\n  \"timestamp\": new Date().toISOString()\n})}}"
      },
      "id": "respond-webhook-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-to-drive-{{WORKFLOW_ID}}",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [50, 200],
      "webhookId": "{{WEBHOOK_ID}}"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gmail Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "{{WORKFLOW_ID}}",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "Gmail"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z", 
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "2",
      "name": "Google Drive"
    }
  ]
}